torch>=2.4.0
torchaudio>=2.4.0
tokenizers==0.21.0
transformers
huggingface_hub
silentcipher @ git+https://github.com/SesameAILabs/silentcipher@master
bitsandbytes>=0.41.1
ffmpeg-python
soundfile
triton>=2.1.0
cuda-python
moshi>=0.3.0
torchtune>=0.2.0
torchao>=1.1.0
numpy