torch>=2.0.0
torchaudio>=2.0.0
tokenizers==0.21.0
transformers
huggingface_hub
silentcipher @ git+https://github.com/SesameAILabs/silentcipher@master
bitsandbytes>=0.41.1
ffmpeg-python
soundfile
triton-cpu>=2.0.0